# Ignorar tudo
*

# Exceções específicas
!Noruega/
!Noruega/src/
!Noruega/src/**
!Noruega/images/
!Noruega/images/**

# Não ignorar a solução
!/Noruega.sln

# Ignorar o arquivo vcxproj.user
!Noruega/Noruega.vcxproj

