# Ignorar tudo
*

# Exceções específicas
!Noruega/
!Noruega/src/
!Noruega/src/**
!Noruega/images/
!Noruega/images/**

# Não ignorar a solução e configurações da solução
!/Noruega.sln
!Noruega/Noruega.vcxproj.filters
!Noruega/Noruega.vcxproj

